{% load static %} 

{% block css %}
	<link rel="stylesheet" href="{% static 'styles/map_marker.css' %}" />
	<link rel="stylesheet" href="{% static 'styles/partials/navbar.css' %}" />
	<link rel="stylesheet" href="{% static 'styles/partials/footer.css' %}" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
	<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet"/>
{% endblock %} 

{% block navbar %} 
	{% include "partials/navbar.html" %}
{% endblock %} 

{% block content %}
	<div id="map" style="width:100%;height:84%;"></div>
{% endblock %} 

{% block javascript %}
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8473586f2a4919e8cf90580a8334ebbc&libraries=services"></script>
	<script src="/static/js/map_marker.js"></script>
{% endblock javascript %}

{% block footer %} 
	{% include "partials/footer.html" %}
{% endblock %} 
