{% load static %} 

{% block css %}
  <link rel="stylesheet" href="{% static 'styles/map_marker.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/partials/navbar.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/partials/footer.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/test_overlay.css'%}" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet"/>
{% endblock %} 

{% block navbar %} 
	{% include "partials/navbar.html" %}
{% endblock %} 

<body>
  <div id="map" style="width:100%;height:84%;"></div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8473586f2a4919e8cf90580a8334ebbc&libraries=services"></script>
  <script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
      mapOption = { 
          center: new kakao.maps.LatLng(37.502, 127.026581), // 지도의 중심좌표
          level: 12 // 지도의 확대 레벨
      };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다


    var imageSrc = '../../static/images/test_marker.png', // 마커이미지의 주소입니다    
        imageSize = new kakao.maps.Size(30, 30), // 마커이미지의 크기입니다
        imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
    
    // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption);

    // 커스텀 오버레이가 표시될 위치입니다
    var position = [];
    
    //마커 위에 보여줄 커스텀오버레이(대표사진)


    
    //커스텀오버레이 > 누를 수 있는 마커로 변경해보기
    $.ajax({
        url: "{% url 'posts:getApi' %}",
        dataType: "json",
        success: function (data) {
            console.log(data);
            var apiTest = "";
            for (var i = 0; i < data.length; i++) {
                var position = new kakao.maps.LatLng(data[i].fields.lat, data[i].fields.lng);
                var marker = new kakao.maps.Marker({
                  position: position,
                  image: markerImage
                });
                marker.setMap(map);
            }
            console.log(position);
          },
        error: function (request, status, error) {
            console.log('실패');
        },
        async: false
    });

  </script>
</body>

{% block footer %} 
	{% include "partials/footer.html" %}
{% endblock %} 
