.overlay__container {
  /*전체적인 틀*/
  position: relative;
  border-radius: 20px;
  width: 550px;
  height: 550px;
  background-color: white;
  box-shadow: 7px 7px 7px #b4b4b4;
}

.box__header {
  padding-top: 5%;
}

.box__header .close {
  /*닫기 이모지*/
  margin-left: 70%;
  font-size: 30px;
}

.box__header .close:hover {
  cursor: pointer;
}

.box__header .pin {
  /*마커 모양 */
  text-align: left;
  margin-left: 10%;
  font-size: 30px;
}

.image__container {
  /*이미지박스의 큰 틀*/
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.image__container img {
  border-radius: 20px;
  width: 150px;
  height: 150px;
  margin: 0 1%;
  box-shadow: 2px 2px 2px #b4b4b4;
}
